@model IconQuery
@{
    var x = @Html.EasyUi();
}
<div id="divQuery" class="divQueryForm">
    @using ( x.Form( "formQuery" ).AddClass( "form" ).Begin() ) {
        <dl>
            <dt>@Html.LabelFor( t => t.Name )</dt>
            <dd>
                @x.TextBox( t => t.Name )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.ClassName )</dt>
            <dd>
                @x.TextBox( t => t.ClassName )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.Width )</dt>
            <dd>
                @x.Combox( t => t.Width, "" ).Add( "16", 16 ).Add( "24", 24 ).Add( "32", 32 ).Width( 60 )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.Height )</dt>
            <dd>
                @x.Combox( t => t.Height, "" ).Add( "16", 16 ).Add( "24", 24 ).Add( "32", 32 ).Width( 60 )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.MinSize )</dt>
            <dd>
                @x.TextBox( t => t.MinSize )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.MaxSize )</dt>
            <dd>
                @x.TextBox( t => t.MaxSize )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.BeginCreateTime )</dt>
            <dd>
                @x.TextBox( t => t.BeginCreateTime )
            </dd>
        </dl>
        <dl>
            <dt>@Html.LabelFor( t => t.EndCreateTime )</dt>
            <dd>
                @x.TextBox( t => t.EndCreateTime )
            </dd>
        </dl>
        <span class="button">
            @x.Button( "查 询" ).Width( 70 ).Icon( "icon-search" ).Query()
        </span>
        @Html.HiddenFor( t => t.CategoryId )
    }
</div>