@{
    var x = @Html.EasyUi();
}
@*分类树菜单*@
@Html.Partial( "Menus/TreeMenu" )
@*工具栏*@
<div class="toolbar">
    @x.DialogButton( "添加", "/configs/systemConfig/addCategory" ).Icon( "icon-add" ).Plain().Title( "添加配置分类" ).DialogSize( 400, 180 )
    @x.DialogButton( "编辑", "/configs/systemConfig/editCategory" ).Id( "btnEditTree" ).Icon( "icon-edit" ).Plain().Title( "编辑配置分类" ).DialogSize( 400, 180 ).ShowEditDialogByTree()
    @x.Button( "删除" ).Id( "btnDeleteTree" ).Icon( "icon-delete" ).Plain().DeleteByTree( "/configs/systemConfig/deleteCategories", "refreshConfigPanel" )
</div>
@*配置分类树*@
@x.Tree( "/configs/systemConfig/GetCategories", "tree" ).Checkbox().Menu().RefreshPanel( "panelConfig", "/configs/systemConfig/configPanel", "categoryId" )
